<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    
    <!--   SERVLETS   -->
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>réception</servlet-name>
        <jsp-file>jsp/Reception.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>clientsorders</servlet-name>
        <jsp-file>jsp/ClientsOrders.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>orderdetails</servlet-name>
        <jsp-file>jsp/OrderDetails.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>stock</servlet-name>
        <jsp-file>jsp/Stock.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ordertreatement</servlet-name>
        <servlet-class>servlets.OrderTreatementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>jsp/Result.jsp</servlet-class>
    </servlet>
    
    
    <!-- MAPPING -->
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>réception</servlet-name>
        <url-pattern>/réception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientsorders</servlet-name>
        <url-pattern>/clientsorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderdetails</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stock</servlet-name>
        <url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ordertreatement</servlet-name>
        <url-pattern>/ordertreatement</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
