main{
    text-align: center;
}

table{
    margin : 0 auto;
    border-collapse: collapse;
    border : 1px solid black;
}

td{
    border-bottom : 1px solid black;
    border-top : 1px solid black;
    padding : 5px 10px;
}

tr:nth-child(even)
{
    background-color: #76787c;
    color : white;
}

thead{
    border-bottom: 2px solid black;
}

tbody:before{
    content: "-";
    display:block;
    line-height: 0.3em;
    color: transparent;
}

th{
    padding : 15px;
}