main{
    text-align: center;
}

table{
    margin : 0 auto;
    border-collapse: collapse;
    border : 1px solid black;
}

td{
    border-bottom : 1px solid black;
    border-top : 1px solid black;
    padding : 5px 10px;
}

tr:nth-child(even)
{
    background-color: lightgray;
}

thead{
    border-bottom: 2px solid black;
}